/BepInEx/cache/
/BepInEx/config/
/BepInEx/core/
/BepInEx/patchers/
/BepInEx/LogOutput.log
/EscapeFromTarkov_Data/
/Logs/
/MonoBleedingEdge/
/NLog/
/doorstop_config.ini
/EscapeFromTarkov.exe
/LICENSE-BEPINEX.txt
/LICENSE-ConfigurationManager.txt
/LICENSE-Launcher.txt
/LICENSE-Modules.txt
/LICENSE-Server.txt
/SPT.Launcher.exe
/SPT.Server.exe
/UnityPlayer.dll
/winhttp.dll
/SPT_Data/Launcher/
/SPT_Data/Server/@pnpm/
/SPT_Data/Server/images/
/SPT_Data/Server/checks.dat
/user/sptappdata/
